@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.header-animation {
    padding-bottom: 0;
}


nav .logo img {
    width: 112px;
}

nav .logo {
    display: flex;
    align-items: center;
    height: 90px;
}


.navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.navlinks li {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    text-align: left;
}

.navlinks li a,
.item a {
    color: #282828;
    font-weight: 600;
    padding: 30px 0;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
}

#btn {
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border: none;
    fill: #fff;
    color: #fff;
    background-color: #d99c00;
    border-radius: 50px;
}

#active {
    color: #d99c00;
}

.payment-box {
    margin-left: 2rem;
}

.donatePageImg {
    height: 450px;
}

.moboPayImg {
    display: none;
}

.pcPayImg {
    display: block;
}

.popup {
    height: 100vh;
    position: fixed;
    top: -200%;
    z-index: 9999;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.4s ease;
    background: #2828285d;
}

.popup-content {
    background: rgb(248, 247, 239);
    height: 630px;
    display: flex;
    justify-content: center;
    padding: 1rem 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popup-cancel img {
    filter: invert(1);
    width: 30px;
}

.popup-cancel {
    position: absolute;
    top: 10px;
    right: 15px;
}

.popup-img {
    width: 100%;
}

.popup-img img {
    width: 750px;
}

.popup #btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0;
}

.hero-section {
    height: 580px;
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;
    z-index: 1;
    background-size: cover;
    text-decoration: none;
    background: #000;
    position: relative;
    margin: 0;
    line-height: 1.4;
    z-index: 1;
}


h1 {
    font-size: 50px;
    line-height: 1.2;
    margin: 0 0 10px;
    font-weight: bold;
}

p {
    font-weight: 600;
}

.hero-section h1 {
    color: white;
    padding: 0.7rem 0;
    font-weight: 800;
}

.container h4 {
    color: #f8b864;
}

.container {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hero-section p {
    font-size: 17px;
    margin-bottom: 15px;
    color: #fff;
    padding-bottom: 0.7rem;
}

.section-details h2 {
    font-size: 38px;
    color: #282828;
    margin: 0 0 8px;
    line-height: 1;
    letter-spacing: -0.04em;
    font-weight: 800;
}

hr {
    border-top: 5px solid #f8b864;
    width: 50px;
    display: inline-block;
    margin-top: 0;
    outline: none;

}

.section-details {
    text-align: center;
    margin: 0.7rem;
}

.info-section {
    padding: 2rem;
}

.about-content {
    display: flex;
    padding: 1rem 0;
    align-items: start;
    justify-content: center;
}

.about-image,
.about-text {
    width: 50%;
    padding: 0.7rem;
}



.about-image img {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.statics {
    position: relative;
    z-index: 1;
    background: #eeeeee;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.dark-blue .section-heading h1 {
    color: #d19f23;
}

.btn-container a:hover {
    background: #daa216;
}

.adopt-card .btn-container a:hover {
    background: #d19f23;
    color: #fff;
}

.adopt-card .btn-container a {
    color: #d19f23;
    background: #fff;
    border: 1px solid #d19f23;
}


.datas {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.data {
    padding: 1rem;
    text-align: center;
}

.data h1 {
    font-size: 50px;
    margin-top: 2px;
}


.data h3 {
    color: #464647;
    font-size: 20px;
}

.dark-blue .data img {
    width: 50px;
}


.about-text {
    line-height: 2;
    font-size: 17px;
    text-align: justify;
}

.btn-container {
    text-align: center;
    padding: 2rem 1rem;
}

.btn-container a,
.btn-container button {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    fill: #fff;
    color: #fff;
    background-color: #d99c00;
    border-radius: 50px;
    padding: 12px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-container button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1.1rem 1.6rem
}


.getinvolved {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.getinvolved img {
    width: 80px;
}

.getinvolved h3 {
    font-size: 18px;
    color: #464647;
    width: 90%;
    margin: auto;
}

.getinvolved h1 {
    font-size: 30px;
    padding-top: 10px;
    color: #d99c00;
}

.volunteer,
.donate-involved {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fafafa;
    color: #282828;
    padding: 1rem;
    width: 50%;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.volunteer:hover,
.donate-involved:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.odds {
    background: url(../images/odds-bg.jpg);
}

.features {
    flex-wrap: wrap;
}

.gallery-content {
    padding: 2rem 0;
}

.features-box {
    padding: 10px;
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}

.features-section {
    display: flex;
    align-items: start;
}

.features-box img {
    height: 71px;
    width: 100px;
    margin-right: 1rem;
}

.features-box:nth-child(2) img {
    margin-right: 2rem;
}

.features-box h3 {
    margin-bottom: 10px;
}

.features-box p {
    line-height: 1.6;
}

.gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.gallery-column img {
    vertical-align: middle;
    width: 100%;
    border-radius: 2px;
    transition: all 0.8s ease;
}

.image-content {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 4px;
    padding: 3px;
}



.gallery-column img {
    border-radius: 10px;
}

.gallery-column img:hover {
    transform: scale(1.1);
}

.adopt-content {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.adoppro-section .container {
    width: 100%;
}

.adopt-card {
    margin: 15px;
    transition: all 0.4s ease;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;

}

.pet-name {
    text-align: center;
    font-weight: 700;
    line-height: 2;
    color: #282828;
    letter-spacing: -0.04em;
    font-size: 22px;
}


.adopt-card img {
    width: 360px;
    border-radius: 10px;
    object-fit: cover;
}

.pet-info {
    position: absolute;
    bottom: 4px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4));
    width: 360px;
    margin-right: 30px;
    text-align: center;
    display: flex;
    height: 100px;
    align-items: flex-end;
    padding-bottom: 20px;
    border-radius: 10px;
    bottom: 9rem;
}

.adopt-card #btn {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;
}


.pet-gender,
.pet-age {
    color: #fff;
    width: 50%;
    font-weight: 600;
}

.pet-gender {
    border-right: 2px solid #f2f2f2;
}

.contact-content {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    flex-direction: row-reverse;
}

.margin {
    margin-right: 10px;
}

.my {
    margin-bottom: 1rem;
}

.field {
    position: relative;
    z-index: 2;
    height: 48px;
    width: 100%;
    background-color: #f8f8f8;
    font-size: 15px;
    padding: 15px;
    color: #707070;
    -webkit-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}

.field:focus,
.msg textarea:focus {
    outline: 1px solid #d99c00;
}

#grid {
    margin-bottom: 10px;
}

#phone {
    margin-right: 0;
}

img {
    border-radius: 10px;
}

.contact-form {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 2rem;
}

.contact-form-box {
    padding: 2rem;
    border-radius: 10px;
}


.contact-page {
    padding: 0 18px 0 48px;
    width: 60%;
}

.contact-section h3 {
    font-weight: 700;
    font-size: 23px;
    color: #282828;
}

.contact-section hr {
    border-top: 4px solid #d99c00;
}

.contact-section .container {
    width: 90%;
}

.input-group {
    display: flex;
}

.msg textarea {
    width: 100%;
    color: #707070;
    -webkit-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    min-height: 200px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #f8f8f8;
    border-radius: 20px;
    font-weight: 600;
}

.contact-details {
    padding: 2rem 0;
    border-radius: 5px;
}

.contact-box {
    display: inline-flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    text-align: left;
}

.contact-box:nth-child(1) {
    text-align: left;
    border-right: 2px dashed #b1aeae6f;
}

.contact-box-content {
    display: flex;
}

.item h3 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 1.6rem;
}

.item i {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    border-radius: 50%;
    color: #d99c00;
    font-size: 24px;
    width: 55px;
    height: 55px;
    margin-right: 2rem;
    display: flex;
    justify-content: center;

}

.item h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 7px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    font-size: 14px;
    background: #222328;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: 100;
}

.section-footer {
    width: 30%;
    padding: 1rem;

}

.section-footer {
    display: flex;
    flex-direction: column;
}


.section-footer img {
    width: 112px;
    filter: drop-shadow(1);
}

.links a {
    display: flex;
    padding: 7px;
    width: fit-content;
    font-size: 16px;
    align-items: center;
    font-weight: 200;
}

.links a i,
.social a i {
    height: 40px;
    width: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: white;
    font-size: 0.9rem;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid #8e690c;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

footer #logo img {
    filter: drop-shadow(2px 4px 6px black);
}

.links:nth-child(2) {
    width: 20%;
}

.section-footer:nth-child(1) p {
    color: #fff;
    padding: 10px;
    line-height: 29px;
    letter-spacing: 0.1px;
    padding-top: 1rem;
    font-size: 16px;
}



.social a i {
    height: 48px;
    width: 48px;
    font-size: 1.2rem;
    background-color: #8e690c;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    /* aspect ration for 16:9 */
    /*padding-top: 20px;*/
    /* you can add padding-top if needed */
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.social {
    padding-top: 1.2rem;
    text-align: left;
    display: flex;
}


.section-footer h2 {
    margin-left: 6px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #f2f2f2;
    font-size: 21px;
    text-transform: uppercase;
}

footer .links a {
    color: #fff;
    text-decoration: none;
}


.window,
.menu-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'quicksand';
    width: 100%;
    z-index: 1;
    text-align: center;
    background-size: cover;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    justify-content: space-evenly;
    min-height: 250px;
    padding: 20px 2rem;
    position: relative;
    margin: 0;
    line-height: 1.4;
    z-index: 1;
}

.involved-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'quicksand';
    width: 100%;
    z-index: 1;
    text-align: center;
    background-size: cover;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    justify-content: space-evenly;
    min-height: 260px;
    position: relative;
    margin: 0;
    line-height: 1.4;
    z-index: 1;

}

.hero-section::before {
    content: '';
    background: url(../images/download.jpg) center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}

.window::before,
.menu-box::before,
.involved-section::before {
    content: '';
    background: url(../images/1-3.jpg);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.involved-section::before {
    content: '';
    background: url(../images/menu-bg.jfif);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.menu-box .container {
    width: 90%;
}

.menu-box:before {
    opacity: 0.5;
    background: url(../images/1-3.jpg) center;
    background-size: cover;
}

.menu-box {
    margin: 0 0 8px;
    text-align: center;
}

.menu-box h2 {
    color: #fff;
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

.menu-box hr {
    width: 6%;
    border-top: 5px solid #d19f23;
    color: #000;
}

.developer {
    padding: 10px;
    text-align: center;
    background: #212329e3;
    color: #fff;
    border-top: 1px solid #FFFFFF26;
}

.developer a {
    color: #8e690c;
}

.margin {
    margin-bottom: 2rem;
}

.bars,
.cancel {
    display: inline-flex;
    text-align: center;
    margin: 0 10px;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.bars img,
.cancel img {
    height: 27px;
    border-radius: 0;
}

.cancel img {
    filter: invert(1);
    height: 30px;
}

.cancel {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.menu-box .container {
    width: 100%;
}

.menu-box {
    padding: 20px 2rem;
}

.myBtn {
    background-color: #ec9626;
    right: -100vw;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
    border: none;
    cursor: pointer;
    transition: all 0.8s ease;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBtn i {
    background: #282828;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.popup-active {
    top: 0;
}

.media-section .container {
    width: 100%;
}

.media-section .media img {
    padding: 5px;
    width: 100%;
    margin: auto;
}

.terms {
    line-height: 30px;
}

.terms h1 {
    font-size: 29px;
    margin: 19px 0;
    color: #d19f23;
}

.terms h2 {
    color: #8e690c;
}

.terms h2,
.terms h3,
.terms ul,
.terms li,
.terms p {
    margin: 19px 0;
}